*.class
nbactions.xml
*.komodoproject

# Package Files #
*.jar
*.war
*.ear
*.prefs
target/
node/
node_modules/
wochit-op-frontend/src/main/webapp/resources/js/main-built.js
wochit-op-frontend/src/main/webapp/resources/css/style.css
test-output/
.settings/
.project
.classpath
.idea/
*.iml
*.sublime-*
/*.xml.versionsBackup
*.DS_Store
*.orig
*.ipr
*.iws
*.css.map
*.css
.sass-cache/

